html {
  line-height: 1.2em;
  font-family: 'Montserrat', Verdana, sans-serif;
  font-size: 16px;
  background-color: #94BFBE;
  color: #61304B;
}

body {
	text-align: center;
}


h1 {
  text-align: center;
  font-size: 1.618em;
  margin: 10px;
  font-weight: bold;
}

p {
  margin: 5px;
  text-align: center;
}

label {
	display: block;
	text-align: center;
	margin: 10px;
	font-size: 22px;
}

input {
  height: 35px;
  width: 80%
}

#form {
  border: solid;
  width: 70%;
  display: inline-block;
  text-align: center;
}

#button {
  margin: 10px;
  background-color: #5C0029;
  color: white;
  border: none;
  width: 50%;
  height: 45px;
}

form {
  margin: auto;
  text-align: center;
}

@media only screen and (min-width: 480px) {
  html {
    line-height: 1.2em;
    font-family: 'Montserrat', Verdana, sans-serif;
    font-size: 24px;
    background-color: #94BFBE;
    color: #61304B;	
 }
	
  body {
    text-align: center;
  }

  h1 {
    font-size: 42px;
    text-align: center;
    margin: 10px;
    padding: 5px;
  }
	
  div {
    margin: 5px 5px;
  }
}

@media only screen and (min-width: 768px) {
  html {
    line-height: 1.2em;
    font-family: 'Montserrat', Verdana, sans-serif;
    font-size: 24px;
  }
  
  label {
	  font-size: 25px;
	
}
